@import "./variables.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-heading);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 700;
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

a {
  color: inherit;
}
